/*public attribute*/

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

*{
    margin:0;
    padding:0;
    font-family: 'Lato', cursive;
    font-weight: 300;
}

.text-mute{
    color:#bcbbbb;
}

.text-thin{
    font-weight: 100;
}
.text-thick{
    font-weight: 500;
}
h1{
    font-size: 1.5rem;
}
h4{
    font-size: 0.6rem;
}

h3{
    font-size: 0.9rem;
    margin-top: 1.2rem;
}

.col-md-6{
    width: 50%;
}
#logo{
    width: 50px;
    height: 50px;
}

.head-content{
    margin-top: 1.2rem;
}
img{
    /*width: 50vw;*/
    transition: width 0.5s;
}

.icon{
    /*width: 1.5rem;*/
}
@media (min-width: 480px) and (max-width: 800px) {

    .container{
        max-width: 750px;
    }

    .col-md-4{
        width: 50%;
    }

    #logo{
        width: 64px;
        height: 64px;
    }

    h1{
        font-size: 2rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h3{
        font-size: 1.2rem;
        margin-top: 1.2rem;
    }
}
@media (min-width: 801px) {

    .container{
        max-width: 960px;
    }

    #logo{
        width: 80px;
        height: 80px;
    }

    h1{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1rem;
    }

    h3{
        font-size: 1.5rem;
        margin-top: 1.2rem;
    }
}
